.bod {
    background-color: blueviolet;

}

.pic {
    float: center;
    padding-left: 600px;

}
     
 

     #computerGuesses {

    color: greenyellow;
    }

    
    #directions {
        color: yellow;
    }

    #Psychic_Game {
        color: brown;
        float: center;
        margin-left: 600px;
       

    }
    #losses {
        color: red;
    }
    #guesses_left {
        color: aqua;
    }
    #letters_used {
        color: violet;
    }
    #wins {
        color: gold;
    }



